<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


     <head>
        <title>Kysymykset ja vastaukset</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h1>Kysymykset</h1>
       
        <div th:each="kysymys : ${kokeiluKurssi}" th:object="${kysymys}">
            <p style="font-size: large"> <b>Kurssi: <span th:text="*{getKurssi}"></span></b></p>
            <p style="font-size: large"> <b> Aihe: <span th:text="*{getAihe}"></span></b></p>
            
            <ul>
                <a th:href="@{~/kysymys/{id}(id=*{getId})}">
                    <li th:text="*{getKysymysteksti}"></li></a></ul>
            <form th:action="@{~/poistakysymys/{id}(id=${kysymys.getId})}" method="POST">
                        <input type="submit" name="poista" value="Poista" >
                    </form>
        </div>
        
        <h3>Luo uusi kysymys </h3>
        <form action="/kysymykset" method="POST">
            Kurssi: <input type="text" name="kurssin nimi" required><br>
            Aihe: <input type="text" name="aihe" required><br>
            Kysymysteksti: <input type="text" name="teksti" required><br>
            <input type="submit" value="Luo">
        </form>
    </body>
</html>
</html>
