<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Vastaukset</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h2 th:text="${kysymys.kysymysteksti}"> teksti</h2>
        <br/>
        <p style="font-size: large"><b> Kurssi: <span th:text="${kysymys.getAihe}"></span></b></p>
        <p style="font-size: large"><b> Aihepiiri: <span th:text="${kysymys.getAihe}"></span></b></p>
        <ul>
            <li th:each="vastaus : ${vastaukset}"> 
                <span th:text="${vastaus.getVastausteksti}"></span>
                <span th:text="${vastaus.onOikein}" style="font-weight: bold"></span>
                <form th:action="@{~/poistavastaus/{id}(id=${vastaus.getId})}" method="POST">
                    <input type="submit" value="Poista" name="poistaVastaus" />
                </form>
        </ul>
        <h2>Luo uusi vastausvaihtoehto</h2>
        <h3>Huom! Vähintään yksi vastausvaihtoehdoista pitää olla oikein!</h3>
        <form th:action="@{~/lisaakysymys/{kysymysid}(kysymysid=${kysymys.getId})}" method="POST">
            Vastausteksti <input type="text" name="vastausteksti" required><br>
                    oikein <input type="checkbox" name="onOikein" value="oikein"><br>
                    <input type="submit" value="Luo" >
                    
        </form>
        
        <p>
            <a th:href="@{~/kysymykset}">
                <li>Kysymysten listaukseen</li>
            </a>
        </p>
        
    </body>
</html>